<a href="https://colab.research.google.com/github/kazimoto11/Uber_Sendy_ML_Ug_thesis/blob/master/Finale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
import tensorflow as tf

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import io

Order placement, confirmation and pickup is done at the same day - (Almost all the times)

In [0]:
train = pd.read_csv(io.BytesIO(uploaded['Train.csv']))
train.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

In [0]:
train.describe()

       Platform Type  ...  Time from Pickup to Arrival
count   21201.000000  ...                 21201.000000
mean        2.752182  ...                  1556.920947
std         0.625178  ...                   987.270788
min         1.000000  ...                     1.000000
25%         3.000000  ...                   882.000000
50%         3.000000  ...                  1369.000000
75%         3.000000  ...                  2040.000000
max         4.000000  ...                  7883.000000

[8 rows x 19 columns]

In [0]:
uploaded = files.upload()

Saving Test.csv to Test.csv

In [0]:
test = pd.read_csv(io.BytesIO(uploaded['Test.csv']))
test.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [0]:
test.describe()

       Platform Type  ...  Destination Long
count    7068.000000  ...       7068.000000
mean        2.752122  ...         36.811326
std         0.624000  ...          0.043507
min         1.000000  ...         36.639195
25%         3.000000  ...         36.786546
50%         3.000000  ...         36.807927
75%         3.000000  ...         36.828195
max         4.000000  ...         37.018958

[8 rows x 16 columns]

In [0]:
#To use the time feature in the dataframe it is converted to an integer in hours

train['Pickup - Time'] = pd.to_datetime(train['Pickup - Time'])
train['Pickup - Time'] = train['Pickup - Time'].dt.hour
train['Pickup - Time'].head()

0    10
1    11
2    12
3     9
4    10
Name: Pickup - Time, dtype: int64

In [0]:
#To use the time feature in the dataframe it is converted to an integer in hours

test['Pickup - Time'] = pd.to_datetime(test['Pickup - Time'])
test['Pickup - Time'] = test['Pickup - Time'].dt.hour
test['Pickup - Time'].head()

0    17
1    13
2    11
3    14
4    11
Name: Pickup - Time, dtype: int64

In [0]:
uploaded = files.upload()

Saving Riders.csv to Riders.csv

In [0]:
riders = pd.read_csv(io.BytesIO(uploaded['Riders.csv']))

In [0]:
riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [0]:
uploaded = files.upload()

Saving Uber_Sendy_hod.xlsx to Uber_Sendy_hod.xlsx

In [0]:
uber_sendy = pd.read_excel(io.BytesIO(uploaded['Uber_Sendy_hod.xlsx']))

In [0]:
uber_sendy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627697 entries, 0 to 627696
Data columns (total 9 columns):
Unnamed: 0                                  627697 non-null int64
Order No                                    627697 non-null object
sourceid                                    627697 non-null int64
dstid                                       627697 non-null int64
hod                                         627321 non-null float64
mean_travel_time                            627321 non-null float64
standard_deviation_travel_time              627321 non-null float64
geometric_mean_travel_time                  627321 non-null float64
geometric_standard_deviation_travel_time    627321 non-null float64
dtypes: float64(5), int64(3), object(1)
memory usage: 43.1+ MB

In [0]:
def ratings_feature(no_of_orders, age, avg_rating, no_of_ratings):
  ''' Creating a new feature by combining all columns fro rider_id datast'''

  rating = (age * avg_rating * no_of_ratings) / (no_of_orders * 1000)

  rating = pd.DataFrame(rating, columns = ['Rating'])
  
  return rating

In [0]:
Rating = ratings_feature(no_of_orders = riders['No_Of_Orders']
                         , age = riders['Age']
                         , avg_rating = riders['Average_Rating']
                         , no_of_ratings = riders['No_of_Ratings']
                         )

Rating.head()

      Rating
0  12.656941
1   6.276600
2   3.133436
3   2.925955
4   4.437880

In [0]:
ratings_feature = pd.concat([riders, Rating], axis = 1)
ratings_feature.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings     Rating
0  Rider_Id_396          2946  2298            14.0           1159  12.656941
1  Rider_Id_479           360   951            13.5            176   6.276600
2  Rider_Id_648          1746   821            14.3            466   3.133436
3  Rider_Id_753           314   980            12.5             75   2.925955
4  Rider_Id_335           536  1113            13.7            156   4.437880

In [0]:
features_train_new = pd.merge(train,ratings_feature, on = 'Rider Id')
features_train_new.head()

         Order No       User Id  ... No_of_Ratings    Rating
0   Order_No_4211   User_Id_633  ...           549  6.058183
1  Order_No_27440  User_Id_2642  ...           549  6.058183
2  Order_No_14170  User_Id_3339  ...           549  6.058183
3  Order_No_21727  User_Id_3523  ...           549  6.058183
4   Order_No_8301    User_Id_87  ...           549  6.058183

[5 rows x 34 columns]

In [0]:
features_test_new = pd.merge(test,ratings_feature, on = 'Rider Id')
features_test_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7068 entries, 0 to 7067
Data columns (total 30 columns):
Order No                                7068 non-null object
User Id                                 7068 non-null object
Vehicle Type                            7068 non-null object
Platform Type                           7068 non-null int64
Personal or Business                    7068 non-null object
Placement - Day of Month                7068 non-null int64
Placement - Weekday (Mo = 1)            7068 non-null int64
Placement - Time                        7068 non-null object
Confirmation - Day of Month             7068 non-null int64
Confirmation - Weekday (Mo = 1)         7068 non-null int64
Confirmation - Time                     7068 non-null object
Arrival at Pickup - Day of Month        7068 non-null int64
Arrival at Pickup - Weekday (Mo = 1)    7068 non-null int64
Arrival at Pickup - Time                7068 non-null object
Pickup - Day of Month                   7068 non-null int64
Pickup - Weekday (Mo = 1)               7068 non-null int64
Pickup - Time                           7068 non-null int64
Distance (KM)                           7068 non-null int64
Temperature                             5631 non-null float64
Precipitation in millimeters            199 non-null float64
Pickup Lat                              7068 non-null float64
Pickup Long                             7068 non-null float64
Destination Lat                         7068 non-null float64
Destination Long                        7068 non-null float64
Rider Id                                7068 non-null object
No_Of_Orders                            7068 non-null int64
Age                                     7068 non-null int64
Average_Rating                          7068 non-null float64
No_of_Ratings                           7068 non-null int64
Rating                                  7068 non-null float64
dtypes: float64(8), int64(14), object(8)
memory usage: 1.7+ MB

In [0]:
features_new_merge = pd.concat([features_train_new,features_test_new])
features_new_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28269 entries, 0 to 7067
Data columns (total 34 columns):
Age                                          28269 non-null int64
Arrival at Destination - Day of Month        21201 non-null float64
Arrival at Destination - Time                21201 non-null object
Arrival at Destination - Weekday (Mo = 1)    21201 non-null float64
Arrival at Pickup - Day of Month             28269 non-null int64
Arrival at Pickup - Time                     28269 non-null object
Arrival at Pickup - Weekday (Mo = 1)         28269 non-null int64
Average_Rating                               28269 non-null float64
Confirmation - Day of Month                  28269 non-null int64
Confirmation - Time                          28269 non-null object
Confirmation - Weekday (Mo = 1)              28269 non-null int64
Destination Lat                              28269 non-null float64
Destination Long                             28269 non-null float64
Distance (KM)                                28269 non-null int64
No_Of_Orders                                 28269 non-null int64
No_of_Ratings                                28269 non-null int64
Order No                                     28269 non-null object
Personal or Business                         28269 non-null object
Pickup - Day of Month                        28269 non-null int64
Pickup - Time                                28269 non-null int64
Pickup - Weekday (Mo = 1)                    28269 non-null int64
Pickup Lat                                   28269 non-null float64
Pickup Long                                  28269 non-null float64
Placement - Day of Month                     28269 non-null int64
Placement - Time                             28269 non-null object
Placement - Weekday (Mo = 1)                 28269 non-null int64
Platform Type                                28269 non-null int64
Precipitation in millimeters                 751 non-null float64
Rating                                       28269 non-null float64
Rider Id                                     28269 non-null object
Temperature                                  22466 non-null float64
Time from Pickup to Arrival                  21201 non-null float64
User Id                                      28269 non-null object
Vehicle Type                                 28269 non-null object
dtypes: float64(11), int64(14), object(9)
memory usage: 7.5+ MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
# Pre-selecting features for the linear regression model

#From train set a selected_training_features is created

# Merge testing only on training file

selected_training_features = features_train_new [['Order No','Distance (KM)',
'Pickup - Time','No_Of_Orders',	'Age', 'Average_Rating', 'No_of_Ratings',
'Rating', 'Time from Pickup to Arrival']]

#From test set a selected_test_features is created 
selected_test_features = features_test_new[['Order No', 'Distance (KM)', 
'Pickup - Time','No_Of_Orders',	'Age', 'Average_Rating', 'No_of_Ratings',
'Rating']]

#Concanetating the two selected features from the test and train data set
selected_features = pd.concat([selected_training_features,
selected_test_features], axis = 0, sort = False)

target_train_variables = features_new_merge['Time from Pickup to Arrival'].head(21201)

selected_features.describe()

       Distance (KM)  Pickup - Time  ...        Rating  Time from Pickup to Arrival
count   28269.000000   28269.000000  ...  28269.000000                 21201.000000
mean        9.494641      12.864233  ...      2.784527                  1556.920947
std         5.645726       2.551430  ...      2.567995                   987.270788
min         1.000000       0.000000  ...      0.000000                     1.000000
25%         5.000000      11.000000  ...      0.641912                   882.000000
50%         8.000000      13.000000  ...      1.893281                  1369.000000
75%        13.000000      15.000000  ...      4.400004                  2040.000000
max        49.000000      23.000000  ...     13.963785                  7883.000000

[8 rows x 8 columns]

In [0]:
selected_features.rename( columns = { 'Pickup - Time' : 'hod'}, inplace = True)

In [0]:
selected_training_features.head()

         Order No  Distance (KM)  ...    Rating  Time from Pickup to Arrival
0   Order_No_4211              4  ...  6.058183                          745
1  Order_No_27440             20  ...  6.058183                         2886
2  Order_No_14170              6  ...  6.058183                         2615
3  Order_No_21727             18  ...  6.058183                         2986
4   Order_No_8301              7  ...  6.058183                         1602

[5 rows x 9 columns]

In [0]:
uber_sendy_merge = pd.merge(selected_features,uber_sendy, how = 'left', on = ['Order No', 'hod'])

In [0]:
uber_sendy_merge.tail()

             Order No  ...  geometric_standard_deviation_travel_time
28264   Order_No_5207  ...                                      1.66
28265  Order_No_11108  ...                                       NaN
28266  Order_No_15696  ...                                      2.10
28267  Order_No_14332  ...                                      1.53
28268  Order_No_21633  ...                                      1.53

[5 rows x 16 columns]

Feature Engineering

In [0]:
combined_features= uber_sendy_merge

combined_features.head()

         Order No  ...  geometric_standard_deviation_travel_time
0   Order_No_4211  ...                                      2.34
1  Order_No_27440  ...                                      1.46
2  Order_No_14170  ...                                      1.70
3  Order_No_21727  ...                                      1.39
4   Order_No_8301  ...                                      1.35

[5 rows x 16 columns]

In [0]:
# Dropping the destination and pickup longitudes and latitudes data to put into the model

model_features = combined_features.drop('Unnamed: 0', axis = 1)
model_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28269 entries, 0 to 28268
Data columns (total 15 columns):
Order No                                    28269 non-null object
Distance (KM)                               28269 non-null int64
hod                                         28269 non-null int64
No_Of_Orders                                28269 non-null int64
Age                                         28269 non-null int64
Average_Rating                              28269 non-null float64
No_of_Ratings                               28269 non-null int64
Rating                                      28269 non-null float64
Time from Pickup to Arrival                 21201 non-null float64
sourceid                                    26885 non-null float64
dstid                                       26885 non-null float64
mean_travel_time                            26885 non-null float64
standard_deviation_travel_time              26885 non-null float64
geometric_mean_travel_time                  26885 non-null float64
geometric_standard_deviation_travel_time    26885 non-null float64
dtypes: float64(9), int64(5), object(1)
memory usage: 3.5+ MB

In [0]:
model_features_drop  = model_features.dropna()

In [0]:
model_features_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20152 entries, 0 to 21200
Data columns (total 15 columns):
Order No                                    20152 non-null object
Distance (KM)                               20152 non-null int64
hod                                         20152 non-null int64
No_Of_Orders                                20152 non-null int64
Age                                         20152 non-null int64
Average_Rating                              20152 non-null float64
No_of_Ratings                               20152 non-null int64
Rating                                      20152 non-null float64
Time from Pickup to Arrival                 20152 non-null float64
sourceid                                    20152 non-null float64
dstid                                       20152 non-null float64
mean_travel_time                            20152 non-null float64
standard_deviation_travel_time              20152 non-null float64
geometric_mean_travel_time                  20152 non-null float64
geometric_standard_deviation_travel_time    20152 non-null float64
dtypes: float64(9), int64(5), object(1)
memory usage: 2.5+ MB

In [0]:
model_features.head()

         Order No  ...  geometric_standard_deviation_travel_time
0   Order_No_4211  ...                                      2.34
1  Order_No_27440  ...                                      1.46
2  Order_No_14170  ...                                      1.70
3  Order_No_21727  ...                                      1.39
4   Order_No_8301  ...                                      1.35

[5 rows x 15 columns]

In [0]:
model_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28269 entries, 0 to 28268
Data columns (total 15 columns):
Order No                                    28269 non-null object
Distance (KM)                               28269 non-null int64
hod                                         28269 non-null int64
No_Of_Orders                                28269 non-null int64
Age                                         28269 non-null int64
Average_Rating                              28269 non-null float64
No_of_Ratings                               28269 non-null int64
Rating                                      28269 non-null float64
Time from Pickup to Arrival                 21201 non-null float64
sourceid                                    26885 non-null float64
dstid                                       26885 non-null float64
mean_travel_time                            26885 non-null float64
standard_deviation_travel_time              26885 non-null float64
geometric_mean_travel_time                  26885 non-null float64
geometric_standard_deviation_travel_time    26885 non-null float64
dtypes: float64(9), int64(5), object(1)
memory usage: 3.5+ MB

Feature Engineering

In [0]:
features_eng_drop = model_features_drop[['Distance (KM)',
'hod','No_Of_Orders',	'Age', 'Average_Rating', 'No_of_Ratings', 
'Rating', 'sourceid',	'dstid'	,'mean_travel_time', 
'standard_deviation_travel_time','geometric_mean_travel_time',	
'geometric_standard_deviation_travel_time', 'Time from Pickup to Arrival']]
features_eng_drop.head()

   Distance (KM)  ...  Time from Pickup to Arrival
0              4  ...                        745.0
1             20  ...                       2886.0
2              6  ...                       2615.0
3             18  ...                       2986.0
4              7  ...                       1602.0

[5 rows x 14 columns]

In [0]:
features_eng_drop = features_eng_drop.dropna()

In [0]:
features_eng_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20152 entries, 0 to 21200
Data columns (total 14 columns):
Distance (KM)                               20152 non-null int64
hod                                         20152 non-null int64
No_Of_Orders                                20152 non-null int64
Age                                         20152 non-null int64
Average_Rating                              20152 non-null float64
No_of_Ratings                               20152 non-null int64
Rating                                      20152 non-null float64
sourceid                                    20152 non-null float64
dstid                                       20152 non-null float64
mean_travel_time                            20152 non-null float64
standard_deviation_travel_time              20152 non-null float64
geometric_mean_travel_time                  20152 non-null float64
geometric_standard_deviation_travel_time    20152 non-null float64
Time from Pickup to Arrival                 20152 non-null float64
dtypes: float64(9), int64(5)
memory usage: 2.3 MB

In [0]:
pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.3)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.17.3)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.25.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.6.1)

In [0]:
import category_encoders as ce

In [0]:
encoder = ce.BinaryEncoder(cols=['sourceid'])

In [0]:
features_eng_drop = encoder.fit_transform(features_eng_drop)

In [0]:
features_eng_drop.head()

   Distance (KM)  ...  Time from Pickup to Arrival
0              4  ...                        745.0
1             20  ...                       2886.0
2              6  ...                       2615.0
3             18  ...                       2986.0
4              7  ...                       1602.0

[5 rows x 22 columns]

In [0]:
encoder_1 = ce.BinaryEncoder(cols=['dstid'])

In [0]:
features_eng_drop = encoder_1.fit_transform(features_eng_drop)

In [0]:
features_eng_drop.head()

   Distance (KM)  ...  Time from Pickup to Arrival
0              4  ...                        745.0
1             20  ...                       2886.0
2              6  ...                       2615.0
3             18  ...                       2986.0
4              7  ...                       1602.0

[5 rows x 30 columns]

In [0]:
encoder_2 = ce.BinaryEncoder(cols=['hod'])

In [0]:
features_eng_drop = encoder_2.fit_transform(features_eng_drop)

In [0]:
features_eng_drop.head()

   Distance (KM)  ...  Time from Pickup to Arrival
0              4  ...                        745.0
1             20  ...                       2886.0
2              6  ...                       2615.0
3             18  ...                       2986.0
4              7  ...                       1602.0

[5 rows x 35 columns]

In [0]:
features_eng_drop.describe()

       Distance (KM)  ...  Time from Pickup to Arrival
count   20152.000000  ...                 20152.000000
mean        9.280369  ...                  1540.697697
std         5.219902  ...                   959.606977
min         1.000000  ...                     1.000000
25%         5.000000  ...                   889.000000
50%         8.000000  ...                  1360.500000
75%        12.000000  ...                  2002.000000
max        39.000000  ...                  7714.000000

[8 rows x 35 columns]

**Standardizing** **features**

In [0]:
#data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler

# create scaler
scaler = MinMaxScaler()

# fit scaler on numerical data
normalized = scaler.fit_transform(features_eng_drop[['Distance (KM)',
'No_Of_Orders','Age', 'Average_Rating','No_of_Ratings','Rating', 
'mean_travel_time','standard_deviation_travel_time','geometric_mean_travel_time'
,'geometric_standard_deviation_travel_time']])


normalized_model_features = pd.DataFrame(normalized, columns = ['Distance (KM)',
'No_Of_Orders','Age', 'Average_Rating','No_of_Ratings','Rating', 
'mean_travel_time','standard_deviation_travel_time','geometric_mean_travel_time'
,'geometric_standard_deviation_travel_time'])

#'mean_travel_time',	'standard_deviation_travel_time','geometric_mean_travel_time'
normalized_model_features.head()

   Distance (KM)  ...  geometric_standard_deviation_travel_time
0       0.078947  ...                                  0.230631
1       0.500000  ...                                  0.072072
2       0.131579  ...                                  0.115315
3       0.447368  ...                                  0.059459
4       0.157895  ...                                  0.052252

[5 rows x 10 columns]

In [0]:
normalized_model_features.to_excel('normalized_lr.xlsx')

In [0]:
files.download('normalized_lr.xlsx')

In [0]:
categorical_features = features_eng_drop[['hod_0','hod_1','hod_2','hod_3',
'hod_4','hod_5','sourceid_0','sourceid_1','sourceid_2','sourceid_3','sourceid_4'
,'sourceid_5','sourceid_6', 'sourceid_7','sourceid_8','dstid_0','dstid_1',
'dstid_2','dstid_3','dstid_4','dstid_5','dstid_6','dstid_7','dstid_8']]

categorical_features.head()

   hod_0  hod_1  hod_2  hod_3  ...  dstid_5  dstid_6  dstid_7  dstid_8
0      0      0      0      0  ...        0        0        0        1
1      0      0      0      0  ...        0        0        1        0
2      0      0      0      0  ...        0        0        1        1
3      0      0      0      1  ...        0        1        0        0
4      0      0      0      0  ...        0        1        0        1

[5 rows x 24 columns]

In [0]:
#Neural network standardized features

normalized_nn = scaler.fit_transform(features_eng_drop[['Distance (KM)',
'No_Of_Orders','Age', 'Average_Rating','No_of_Ratings','Rating'
,'geometric_standard_deviation_travel_time']])


normalized_nn_features = pd.DataFrame(normalized_nn, columns = ['Distance (KM)',
'No_Of_Orders','Age', 'Average_Rating','No_of_Ratings','Rating'
,'geometric_standard_deviation_travel_time'])



neuralnet_feature = pd.concat([normalized_nn_features,categorical_features], axis = 1)
neuralnet_feature.head()

   Distance (KM)  No_Of_Orders       Age  ...  dstid_6  dstid_7  dstid_8
0       0.078947      0.167624  0.330698  ...      0.0      0.0      1.0
1       0.500000      0.167624  0.330698  ...      0.0      1.0      0.0
2       0.131579      0.167624  0.330698  ...      0.0      1.0      1.0
3       0.447368      0.167624  0.330698  ...      1.0      0.0      0.0
4       0.157895      0.167624  0.330698  ...      1.0      0.0      1.0

[5 rows x 31 columns]

In [0]:
neuralnet_feature.to_excel('neuralnet_feature.xlsx', index = False)

In [0]:
from google.colab import files
files.download("neuralnet_feature.xlsx")

In [0]:
normalized_nn_features.to_excel('normalized_nn_features.xlsx', index = False)

In [0]:
files.download("normalized_nn_features.xlsx")

In [0]:
neuralnet_feature.describe()

       Distance (KM)  No_Of_Orders  ...       dstid_7       dstid_8
count   20152.000000  20152.000000  ...  20152.000000  20152.000000
mean        0.217904      0.172974  ...      0.420107      0.616911
std         0.137366      0.161700  ...      0.493588      0.486152
min         0.000000      0.000000  ...      0.000000      0.000000
25%         0.105263      0.056900  ...      0.000000      0.000000
50%         0.184211      0.123744  ...      0.000000      1.000000
75%         0.289474      0.236108  ...      1.000000      1.000000
max         1.000000      1.000000  ...      1.000000      1.000000

[8 rows x 31 columns]

Linear regression

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
lm = LinearRegression()

In [0]:
lr_features = normalized_model_features

In [0]:
X_train, X_test, y_train, y_test = train_test_split(lr_features.head(20152),
features_eng_drop['Time from Pickup to Arrival'], test_size=0.3,
 random_state=101)

In [0]:
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
print('Coefficient : \n', lm.coef_)

Coefficient :
 [ 2594.26493226 -1613.27430697   492.3878368   -520.7342323
  1387.29591663  -636.54789307   124.6349485    -40.39793964
  1306.24381717  -494.78109783]

In [0]:
#lm = LinearRegression()
#lm.fit(X,y)
params = np.append(lm.intercept_,lm.coef_)
predictions = lm.predict(X_train)

#newX = pd.DataFrame({"Constant":np.ones(len(X_train))}).join(pd.DataFrame(X_train))
#MSE = (sum((y_train-predictions)**2))/(len(newX)-len(newX.columns))

# Note if you don't want to use a DataFrame replace the two lines above with
newX = np.append(np.ones((len(X_train),1)), X_train, axis=1)
MSE = (sum((y_train-predictions)**2))/(len(newX)-len(newX[0]))

var_b = MSE*(np.linalg.inv(np.dot(newX.T,newX)).diagonal())
sd_b = np.sqrt(var_b)
ts_b = params/ sd_b

p_values =[2*(1-stats.t.cdf(np.abs(i),(len(newX)-1))) for i in ts_b]

sd_b = np.round(sd_b,3)
ts_b = np.round(ts_b,3)
p_values = np.round(p_values,3)
params = np.round(params,4)

myDF3 = pd.DataFrame()
myDF3["Coefficients"],myDF3["Standard Errors"],myDF3["t values"],myDF3["P-values"] = [params,sd_b,ts_b,p_values]
print(myDF3)

    Coefficients  Standard Errors  t values  P-values
0      1246.2553          107.206    11.625     0.000
1      2594.2649           77.995    33.262     0.000
2     -1613.2743          116.530   -13.844     0.000
3       492.3878           90.266     5.455     0.000
4      -520.7342          110.023    -4.733     0.000
5      1387.2959          132.661    10.457     0.000
6      -636.5479          112.000    -5.683     0.000
7       124.6349         1341.534     0.093     0.926
8       -40.3979          184.265    -0.219     0.826
9      1306.2438         1283.141     1.018     0.309
10     -494.7811          197.918    -2.500     0.012

In [0]:
pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.17.3)

In [0]:
import statsmodels.api as sm

In [0]:
from scipy import stats

In [0]:
X2 = sm.add_constant(X_train)

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [0]:
est = sm.OLS(y_train, X2)

In [0]:
est2 = est.fit()

In [0]:
print(est2.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     Time from Pickup to Arrival   R-squared:                       0.316
Model:                                     OLS   Adj. R-squared:                  0.316
Method:                          Least Squares   F-statistic:                     1330.
Date:                         Mon, 14 Oct 2019   Prob (F-statistic):               0.00
Time:                                 11:31:26   Log-Likelihood:            -1.6314e+05
No. Observations:                        20152   AIC:                         3.263e+05
Df Residuals:                            20144   BIC:                         3.264e+05
Df Model:                                    7
Covariance Type:                     nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                  -726.5488    144.165     -5.040      0.000   -1009.124    -443.973
log_distance            618.0724     14.691     42.073      0.000     589.278     646.867
sqrt_log_no_of_orders  -308.3765     30.623    -10.070      0.000    -368.401    -248.352
Average_Rating          -28.0154      6.124     -4.575      0.000     -40.019     -16.011
Rating                   16.9465      2.521      6.722      0.000      12.005      21.888
log_mean_tt            1670.6574    140.183     11.918      0.000    1395.888    1945.427
log_sd_tt              -298.6339     32.615     -9.156      0.000    -362.563    -234.705
log_geo_mean_tt       -1120.2202    117.457     -9.537      0.000   -1350.446    -889.995
==============================================================================
Omnibus:                     6855.818   Durbin-Watson:                   1.757
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            32629.208
Skew:                           1.591   Prob(JB):                         0.00
Kurtosis:                       8.361   Cond. No.                         648.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [0]:
prediction_test = lm.predict(X_test)

In [0]:
predictions_series_test = pd.Series(data = prediction_test, index = None)

In [0]:
prediction_train = lm.predict(X_train)

In [0]:
predictions_series_train = pd.Series(data = prediction_train, index = None)

In [0]:
from sklearn import metrics

In [0]:
print('MAE:', metrics.mean_absolute_error
      (y_train, prediction_train))
print('MSE:', metrics.mean_squared_error
      (y_train, prediction_train))
print('RMSE: ', np.sqrt(metrics.mean_squared_error
      (y_train, prediction_train)))

MAE: 538.7039130454542
MSE: 619843.7991298644
RMSE:  787.3015935014132

In [0]:
print('MAE:', metrics.mean_absolute_error
      (y_test, prediction_test))
print('MSE:', metrics.mean_squared_error
      (y_test, prediction_test))
print('RMSE: ', np.sqrt(metrics.mean_squared_error
      (y_test, prediction_test)))

MAE: 540.6590178767856
MSE: 597422.967106382
RMSE:  772.9314116442558

Building a Neural Network Model using Keras

In [0]:
pip install -q pyyaml

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals

from tensorflow.keras import layers

print(tf.version.VERSION)
print(tf.keras.__version__)

1.15.0
2.2.4-tf

In [0]:
lrelu = lambda x: tf.keras.activations.relu(x, alpha =0.1)



model = tf.keras.Sequential()
# Adds a densely-connected layer with 6 units to the model:
model.add(layers.Dense(80, activation = lrelu, 
kernel_initializer = 
tf.keras.initializers.VarianceScaling(scale = 1,
mode = 'fan_in', distribution = 'normal'),
bias_initializer = tf.keras.initializers.VarianceScaling(scale = 1,
mode = 'fan_in', distribution = 'normal'),
kernel_regularizer = tf.keras.regularizers.l2(3),
bias_regularizer = tf.keras.regularizers.l2(1.775)))
# Add another layer with 6 units:

model.add(layers.Dense(20, activation= lrelu,
kernel_initializer= tf.keras.initializers.VarianceScaling(scale = 1
,mode = 'fan_in', distribution = 'normal'),
bias_initializer = tf.keras.initializers.VarianceScaling(scale = 1,
mode = 'fan_in', distribution = 'normal'),
kernel_regularizer = tf.keras.regularizers.l2(3),
bias_regularizer = tf.keras.regularizers.l2(1.775)))

# Add a linear layer with 4 output unit:
model.add(layers.Dense(1, activation= 'linear',
kernel_initializer= tf.keras.initializers.VarianceScaling(scale = 1,
mode = 'fan_in', distribution = 'normal'),
bias_initializer = tf.keras.initializers.VarianceScaling(scale = 1,
mode = 'fan_in', distribution = 'normal'),
kernel_regularizer = tf.keras.regularizers.l2(3),
bias_regularizer = tf.keras.regularizers.l2(1.775)))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/util/deprecation.py:507: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with distribution=normal is deprecated and will be removed in a future version.
Instructions for updating:
`normal` is a deprecated alias for `truncated_normal`

In [0]:
model.compile(optimizer=tf.train.AdamOptimizer(0.0015),
              loss='mse',       # mean squared error
              metrics=['mae'])  # mean absolute error
1

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

1

In [0]:
training_features = np.array(neuralnet_feature.head(20152))
target_train_variables = np.array(model_features_drop['Time from Pickup to Arrival'])

In [0]:
model.fit(training_features, target_train_variables , validation_split = 0.1, epochs = 500, batch_size = 15)

Train on 18136 samples, validate on 2016 samples
Epoch 1/500
18136/18136 [==============================] - 2s 127us/sample - loss: nan - mean_absolute_error: nan - val_loss: nan - val_mean_absolute_error: nan
Epoch 2/500
18136/18136 [==============================] - 2s 100us/sample - loss: nan - mean_absolute_error: nan - val_loss: nan - val_mean_absolute_error: nan
Epoch 3/500
18136/18136 [==============================] - 2s 99us/sample - loss: nan - mean_absolute_error: nan - val_loss: nan - val_mean_absolute_error: nan
Epoch 4/500
18136/18136 [==============================] - 2s 99us/sample - loss: nan - mean_absolute_error: nan - val_loss: nan - val_mean_absolute_error: nan
Epoch 5/500
18136/18136 [==============================] - 2s 97us/sample - loss: nan - mean_absolute_error: nan - val_loss: nan - val_mean_absolute_error: nan
Epoch 6/500
18136/18136 [==============================] - 2s 97us/sample - loss: nan - mean_absolute_error: nan - val_loss: nan - val_mean_absolute_error: nan
Epoch 7/500
 7890/18136 [============>.................] - ETA: 0s - loss: nan - mean_absolute_error: nan

KeyboardInterrupt: ignored

In [0]:
evaluating_features = np.array(standardized_features_eng_drop)

In [0]:
# Evaluation of the model
model.evaluate(training_features, target_train_variables, batch_size = 1)

20152/20152 [==============================] - 9s 458us/sample - loss: 563211.5302 - mean_absolute_error: 524.5867

[563211.5302207617, 524.58673]

In [0]:
#Prediction of the model
result = model.predict(evaluating_features, batch_size = 1)

In [0]:
loss_and_metrics = model.evaluate(training_features, target_train_variables, batch_size=10)

classes = model.predict(x_test, batch_size=1)

test = training_features.reshape(-1)

plt.plot(test ,classes , c = 'r')
plt.plot(test, target_train_variables , c = 'b')
plt.show()

In [0]:
result = pd.DataFrame(result, columns = ['Time from Pickup to Arrival'])
result.head()

   Time from Pickup to Arrival
0                   678.655640
1                  2132.711670
2                  1345.699829
3                  1858.996216
4                  1413.233643

In [0]:
dataset = pd.concat([features_train_new['Order No'],features_test_new['Order No']],ignore_index = True)
dataset_series = pd.DataFrame(data=dataset,index = None, columns = ['Order No'])
dataset_series.head(5)

         Order No
0   Order_No_4211
1  Order_No_27440
2  Order_No_14170
3  Order_No_21727
4   Order_No_8301

In [0]:
final_result = pd.concat([dataset_series, result], axis = 1)
final_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28269 entries, 0 to 28268
Data columns (total 2 columns):
Order No                       28269 non-null object
Time from Pickup to Arrival    26885 non-null float32
dtypes: float32(1), object(1)
memory usage: 331.4+ KB

In [0]:
final_result.to_csv('final_result.csv', sep=',', index = False)

In [0]:
from google.colab import files
files.download("final_result.csv")